*{
	margin: 0;
	padding: 0;
}
.menu1{
			background-color: black;
			align-content: center;
			width: 100%;
			height: 50px;
		}
		.menu1 ul{
			list-style: none;
			position: relative;
		}
		.menu1 ul li{
			float: left;
			width: 150px;
		}
		.menu1 a{
			padding: 10px;
			display: block;
			color: #45fc03;
			text-decoration: none;
			text-align: center;
		}
		.menu1 a:hover{
			background-color: #45fc03;
			color: black;
			font: bold;
			text-decoration: none;

		}
		.menu1 ul ul{
			position: absolute;
			background-color: black;
			visibility: hidden;
		}
		.menu1 ul li:hover ul{
			visibility: visible;
		}
		.menu1 ul ul li{
			float: none;
			border-bottom: solid 1px #45fc03;
		}
		.menu1 ul ul li a{
			background-color: #363636;
		}
		.menu1 
